*{
    margin: 0;
    padding: 0;
    background-color:white ;
}

/********** DESKTOP **********/
@media(min-width:992px) {
    * {
        
        background-color: black;
    }
}

/********** TABLET **********/
@media (min-width:768px) and (max-width:991px){
    *{
        background-color: red;
    }
}

/********** MOBILE **********/
@media (max-width:767px) {
    *{background-color: yellow;
    
        
     }
}